
$white: #fff;

$green: #14ad5c;
$green--light: #62e49f;
$green--dark: #0e8345;

$red: #9e1919;
$red--light: #e46262;
$red--dark: #972626;

$blue--light: rgb(179, 213, 252);
$blue--dark: rgb(28, 92, 165);
$blue: rgb(28, 115, 214); 
